# SPDX-License-Identifier: GPL-3.0-or-later
# Keep the Nabu pen aligned with the panel DT rotation.
ACTION=="add|change", KERNEL=="event[0-7]*", ATTRS{name}=="NVTCapacitivePen", ENV{LIBINPUT_CALIBRATION_MATRIX}="0 1 0 -1 0 1"
